.container{
    max-width: unset !important;
    padding: unset !important;
}
label{
    display: flex !important;
}
ul{
    margin: unset !important;
}
p{
    margin: unset !important;
}
.row{
    padding: 1% 10px;
    justify-content: center !important;
}