.container{
    max-width: unset !important;
    padding: unset !important;
}
label{
    display: flex !important;
}
ul{
    margin: unset !important;
    padding-left: unset !important;
}
p{
    margin: unset !important;
}
.row{
    padding: unset !important;
    margin: unset !important;
    justify-content: center !important;
}
.row>*{
    padding-left: 3px;
    padding-right: 3px;
    flex-shrink: unset !important;
}
