.container{
    max-width: unset !important;
    padding: unset !important;
}
label{
    display: flex !important;
}
ul{
    margin: unset !important;
}
p{
    margin: unset !important;
}
.row{
    flex-wrap: unset !important;
    padding: 0px 10px;
}